{% extends "layout.html" %}{% block title%}About{% endblock %}
{% block body %}  
<h1 align = "center"> STATUTS DE LA JOUTE DE VINCI</h1>


<body>

<h3>ARTICLE 1 : FORME ET DÉNONIMATION</h3>

<p>Il est fondé entre les adhérents aux présents statuts une association régie par la loi du 1 Juillet 1901 et le décret du 16 Aout 1901, ayant pour dénomination : La Joute De Vinci.</p>

<h3>ARTICLE 2 : OBJET</h3>

<p>Cette association a pour objet la promotion de l’éloquence et de l’art oratoire sous toutes formes ; la formation et le partage des connaissances liées à l’expression et la détermination font également parties du champ d’action de l’association</p>

<h3>ARTICLE 3 : SIÈGE SOCIAL</h3>

<p>Le siège social est fixé au Pôle Universitaire Leonard de Vinci (2/ 12 avenue Leonard de Vinci | 92400 Courbevoie).</p>

<h3>ARTICLE 4 : DURÉE</h3>

<p>La durée de l’Association est illimitée.</p>

<h3>ARTICLE 5 : MEMBRES</h3>

<p>L’Association se compose de :</p>

<ul>
<li>Membres fondateurs ;</li>
<li>Membres d’honneurs ;</li>
<li>Membres actifs.</li>
</ul>

<p>Les membres fondateurs sont les personnes ayant constitué
l’Association.</p>

<p>Les membres d’honneurs sont les personnes physiques ou morales ayant rendues des services éminents à l’Association. Toute gratification du titre de membre d’honneur doit être approuvée par le Conseil d’Administration ; tout retrait du titre de membre
d’honneur doit être approuvée par le Bureau Ouvert.</p>

<p>Les présidents en fin de mandat seront automatiquement gratifiés du titre de membre d’honneur. Les membres du Bureau Ouvert seront automatiquement gratifiés du titre de membre d’honneur si le Conseil d’Administration ne s’y oppose pas expressément. </p>

<p>Une liste des membres fondateurs et des membres d’honneurs se devra d’être tenue et mise à jour.</p>

<p>Les membres actifs sont les personnes physiques ou morales faisant partie intégrante de l’Association.</p>

<h3>ARTICLE 6 : ADMISSION</h3>

<p>Les membres actifs sont soit : membres du Bureau Ouvert, et sont donc désignés chaque année par le Conseil d’Administration, ou bien membres de Pôle et sont alors choisis par le responsable de Pôle correspondant après validation de la candidature par le Conseil d’Administration.</p>

<h3>ARTICLE 7 : PERTE DE LA QUALITÉ DE MEMBRE</h3>

<p>La qualité de membre se perd par :</p>

<ul>
<li>La démission notifiée par écrit ;</li>
<li>Le décès pour les personnes physiques ;</li>
<li>La radiation prononcée par le Conseil d’Administration pour tout motif grave.</li>
<li>La perte de la qualité de membre n’entraîne aucun dédommagement d’aucune sorte et à quelque titre que ce soit, sous réserve de ce qui est prévu par l’article 6 de la loi du 1er juillet 1901.</li>
</ul>

<h3>ARTICLE 8 : RESSOURCES</h3>

<p>Les ressources de l’Association comprennent :</p>

<ul>
<li>Les subventions de l’État et des collectivités territoriales, des établissements publics, des entreprises, ou de toute autre organisation publique ou privée ;</li>
<li>Des participations, dons et legs recueillis en conformité avec la réglementation en vigueur ;</li>
<li>Des produits et ressources exceptionnels ;</li>
<li>Des produits des rétributions perçues pour les services et les prestations rendues dans l’accomplissement de ses buts ;</li>
<li>Et de toutes autres ressources autorisées par la Loi.</li>
</ul>

<h3>ARTICLE 9 : CONSEIL D’ADMINISTRATION</h3>

<p>Le Conseil d’Administration est l’instance décisionnaire de l’Association. Il est composé des deux anciens Co-Présidents et des Co-Présidents et Vice-Présidents des deux Bureaux de l’Association : le Bureau Interne et le Bureau Externe.</p>

<p>Parmi les pouvoirs du Conseil d’Administration figurent notamment :</p>

<ul>
<li>La convocation des Assemblées Générales et Exceptionnelles ainsi que la fixation de l’ordre du jour ;</li>
<li>L’agrément ou la radiation des membres du Bureau Ouvert et possède un droit de regard sur la tenue des différents Pôles ;</li>
<li>La détermination de la stratégie en matière d’investissements matériels et immatériels ;</li>
<li>La possibilité de fixer une cotisation annuelle aux membres actifs uniquement si la situation financière de l’Association se dégrade et que les financements externes se tarissent ;</li>
<li>La désignation du Bureau Ouvert d’une année à l’autre ;</li>
<li>La désignation des formateurs animant les formations de l’Association ;</li>
</ul>

<p>Il est renouvelé tous les ans et il est impossible d’y rester plus de deux ans : une première année en tant que Co-Président puis une autre année en tant qu’ancien Président ; sauf en cas de situation exceptionnelle qui seront détaillées dans l’ARTICLE 13.</p>

<p>Il ne peut être dissous qu’à l’issue d’une Assemblée Exceptionnelle ou à l’issue d’une motion de censure approuvée par les deux tiers du Bureau Ouvert.</p>

<p>En cas de dissolution, le Conseil d’Administration est exceptionnellement soumis à une élection lors d’une Assemblée Exceptionnelle puis reprend ses dispositions originelles l’année suivante.</p>

<h3>ARTICLE 10 : BUREAU FERMÉ</h3>

<p>L’Association se dote de deux Bureaux afin d’assurer au mieux le bon déroulement des missions qu’elle s’est fixée : ils composent ensemble avec le Trésorier, le Bureau Fermé, bien que celui-ci n’a aucune fonction particulière. Les deux bureaux, que sont le Bureau Interne et le Bureaux Externe, sont complémentaires dans les tâches et ne peuvent pas empiéter sur leurs juridictions respectives.
Les Bureaux sont désignés d’une année à l’autre par le Conseil d’Administration ; les Bureaux comprennent respectivement un Co-Président, un Vice-Président et un Secrétaire Général.</p>

<p>Toute scission au sein de l’Association, qui résulterait dans la fracture entre Bureau Interne et Bureau Externe, mène à la dissolution des deux Bureaux. Un Bureau unique intermédiaire est alors élu lors d’une Assemblée Exceptionnelle afin d’assurer la fin de l’année puis les
Bureaux reprennent leurs dispositions originelles l’année suivante.</p>

<h3>ARTICLE 11 : BUREAU INTERNE</h3>

<p>Le Bureau Interne de l’Association a pour objectif d’organiser la vie de l’Association à l’intérieur du Pôle Léonard de Vinci ainsi que le bon déroulement des procédures diverses.</p>

<p>Parmi les pouvoirs du Bureau Interne figurent notamment :</p>

<ul>
<li>La réalisation des divers évènements à destination premières des étudiants du Pôle Léonard de Vinci en partenariat avec le Pôle Évènementiel tel que défini dans l’ARTICLE 20 ;</li>
<li>La planification des formations et la bonne tenue de ces dernières en partenariat avec le Pôle Formation tel que défini dans l’ARTICLE 21 ;</li>
<li>La tenue d’outils de planification et de visualisation afin d’assurer un suivi détaillé de l’Association ;</li>
</ul>

<h3>• ARTICLE 12 : BUREAU EXTERNE</h3>

<p>Le Bureau Externe de l’Association a pour objectif d’organiser la vie de l’Association à l’extérieur du Pôle Léonard de Vinci : il se tourne vers les acteurs et partenaires externes afin d’élargir le champ d’action de l’Association.</p>

<p>Parmi les pouvoirs du Bureau Externe figurent notamment :</p>

<ul>
<li>La réalisation des divers évènements à portée généralisée en partenariat avec le Pôle Évènementiel tel que défini dans l’ARTICLE 20 ;</li>
<li>La planification des rencontres avec les différentes
associations d’éloquence en partenariat avec le pôle COMPÉTITION tel que défini dans l’ARTICLE 19 ;</li>
<li>La recherche et la mise en contact avec des partenaires
externes en partenariat avec le Pôle PARTENARIAT tel que
défini dans l’ARTICLE 22 ;</li>
</ul>

<h3>ARTICLE 13 : CO-PRÉSIDENT</h3>

<p>Le Co-Président de chaque Bureau respectif a la pleine responsabilité des actions et des entreprises menées par son Bureau. Il incarne le projet porté par l’Association et a la charge de prendre les décisions relatives à son Bureau afin de mener à bien le projet de l’Association.</p>

<p>En cas d’indisponibilité, son Vice-Président prend sa relève à la tête du bureau et sa place dans le Conseil d’Administration jusqu’à son retour.</p>

<p>En cas de démission, le Vice-Président devient de facto le nouveau CoPrésident et le Secrétaire Général prend la place du Vice-Président comme défini dans l’ARTICLE 14.</p>

<h3>ARTICLE 14 : VICE- PRÉSIDENT</h3>

<p>Le Vice-Président succède directement au Co-Président au sein de leur Bureau respectif. Il apporte une seconde vision et un avis nuancé au Co-Président afin de s’assurer de la pertinence de toutes les décisions prises par le Bureau.</p>

<p>En cas d’indisponibilité du Co-Président, le Vice-Président prend sa relève à la tête du bureau et sa place dans le Conseil d’Administration jusqu’au retour du Co-Président comme défini dans l’ARTICLE 13. </p>

<h3>ARTICLE 15 : SECRÉTAIRE GÉNÉRAL</h3>

<p>Le Secrétaire Général complète le Bureau et agit en soutien du CoPrésident et du Vice-Président. Il a pour rôle de fournir toute la logistique dont le Bureau a besoin et de gérer l’avancée des projets de celui-ci.</p>

<p>Il remplace en cas d’indisponibilité le Vice-Président comme défini dans l’article 14 : dans le cas d’une démission du Co-Président ou du VicePrésident, le Secrétaire Général devient le nouveau Vice-Président. Il est alors nécessaire de désigner un nouveau Secrétaire Général jusqu’à la fin de l’année ; il incombe alors au Co-Président de procéder à cette désignation.</p>

<h3>ARTICLE 16 : TRÉSORIER</h3>

<p>Le Trésorier complète le Bureau Fermé ; il est chargé de la tenue des bilans de trésorerie et doit faire un bilan mensuel en présentant l’état des comptes. Il est également détenteur de la carte bancaire de l’Association et est chargé de passer les commandes au nom de l’Association. Il est responsable de faire la jonction entre l’Association et les différents acteurs économiques notamment en ce qui concerne les indemnisations des intervenants. Il peut être limogé par le Conseil d’Administration si celui-ci avance la preuve du manque sérieux et d’investissement du concerné.</p>

<h3>ARTICLE 17 : BUREAU OUVERT</h3>

<p>L’Association se dote d’un Bureau Ouvert qui réunira le Bureau Fermé, tel que défini dans l’ARTICLE 10, ainsi que les Responsables de Pôle.</p>

<p>Il constitue l’Association et le moteur de celui-ci : le Bureau Ouvert doit se réunir de manière hebdomadaire afin de présenter les avancées de tous les acteurs de celui-ci. </p>

<p>Le Bureau Ouvert peut décider de dissoudre le Conseil d’Administration en déposant une motion de censure comme défini dans l’ARTICLE 9.</p>

<h3>ARTICLE 18 : RESPONSABLE COMMUNICATION</h3>

<p>Le Responsable Communication est désigné par le Conseil
d’Administration. Il est le responsable du Pôle Communication et a donc la charge de la promotion et la communication de l’Association.</p>

<p>Il décide de l’adhésion des membres dans son Pôle et est autonome dans la gestion de ses projets : il doit cependant répondre de la bonne avancée de ses projets devant le Bureau Ouvert. Il peut être limogé par le Conseil d’Administration si celui-ci avance la preuve du manque
sérieux et d’investissement du concerné.</p>

<h3>ARTICLE 19 : RESPONSABLE COMPÉTITION</h3>

<p>Le Responsable Compétition est désigné par le Conseil d’Administration. Il est le responsable du Pôle Compétition et a donc la charge de la participation au championnat d’éloquence de l’Association.</p>

<p>Il décide de l’adhésion des membres dans son Pôle et est autonome dans la gestion de ses projets : il doit cependant répondre de la bonne avancée de ses projets devant le Bureau Ouvert. Il peut être limogé par le Conseil d’Administration si celui-ci avance la preuve du manque sérieux et d’investissement du concerné.</p>

<h3>ARTICLE 20 : RESPONSABLE ÉVÉNEMENTIEL</h3>

<p>Le Responsable Événementiel est désigné par le Conseil
d’Administration. Il est le responsable du Pôle Évènementiel et a donc la charge de la gestion et de l’organisation des événements de l’Association.</p>

<p>Il décide de l’adhésion des membres dans son Pôle et est autonome dans la gestion de ses projets : il doit cependant répondre de la bonne avancée de ses projets devant le Bureau Ouvert. Il peut être limogé par le Conseil d’Administration si celui-ci avance la preuve du manque sérieux et d’investissement du concerné.</p>

<h3>ARTICLE 21 : RESPONSABLE FORMATION</h3>

<p>Le Responsable Formation est désigné par le Conseil d’Administration. Il est le responsable du Pôle Formation et a donc la charge de la tenue des formations et de la rédaction d’un programme pour l’Association.
Il décide de l’adhésion des membres dans son Pôle et est autonome dans la gestion de ses projets : il doit cependant répondre de la bonne avancée de ses projets devant le Bureau Ouvert. Il peut être limogé par le Conseil d’Administration si celui-ci avance la preuve du manque
sérieux et d’investissement du concerné.</p>

<h3>ARTICLE 22 : RESPONSABLE PARTENARIAT</h3>

<p>Le Responsable Partenariat est désigné par le Conseil d’Administration. Il est le responsable du Pôle Partenariat et a donc la charge de la recherche de partenaires afin d’ouvrir des perspectives à l’Association.</p>

<p>Il décide de l’adhésion des membres dans son Pôle et est autonome dans la gestion de ses projets : il doit cependant répondre de la bonne avancée de ses projets devant le Bureau Ouvert. Il peut être limogé par le Conseil d’Administration si celui-ci avance la preuve du manque
sérieux et d’investissement du concerné.</p>

<h3>ARTICLE 23 : RÉMÉUNRATION</h3>

<p>Les membres du Bureau ont droit au remboursement de leurs frais dans le cadre de l’exercice de leurs fonctions. Les fonctions sont bénévoles dans le cadre associatif et peut mener à des compensations si l’Association accomplit des missions pour le compte d’un partenaire.</p>

<h3>ARTICLE 24 : ASSEMBLÉE GÉNÉRALE</h3>

<p>L’Assemblée Générale comprend tous les membres de l’Association : bureau Ouvert et membres de Pôle compris. Ils sont convoqués par leConseil d’Administration ; que ce soit par convocation individuelle ou par annonce dans les canaux d’information de l’Association. Une semaine avant la date fixée, le Conseil d’Administration dévoile l’ordre
du jour.</p>

<p>L&#8217;Assemblée Générale se réunit chaque année courant avril-mai. Les décisions sont prises à la majorité simple des membres présents ou représentés. </p>

<p>Un représentant du Conseil d’Administration préside l&#8217;Assemblée et expose la situation morale de l&#8217;Association. Le Trésorier rend compte de sa gestion et soumet le bilan à l&#8217;approbation de l’Assemblée.</p>

<p>L&#8217;Assemblée Générale est la seule compétente pour prononcer la dissolution de l&#8217;Association et ratifier les modifications statutaires prononcées et préalablement arrêtes par le Bureau. Un quorum exigeant 20% des membres est requis pour l&#8217;ouverture de la séance. Les procès-verbaux des délibérations des Assemblées sont tenus par un représentant du Conseil d’Administration sur un registre et
signés par les deux Co-Présidents.</p>

<h3>ARTICLE 25 : ASSEMBLÉE GÉNÉRALE EXTRAORDINNAIRE</h3>

<p>L&#8217;Assemblée Générale Extraordinaire est compétente pour modifier les statuts et décider la dissolution de l’Association selon les modalités de l’ARTICLE 26, les décisions qui modifient les statuts doivent être approuvées à la majorité relative des voix.</p>

<h3>ARTICLE 26 : DISSOLUTION</h3>

<p>La dissolution est prononcée par l&#8217;Assemblée Générale Extraordinaire
qui nomme un liquidateur. L&#8217;actif sera dévolu conformément à l’article 9
de la loi du 1er Juillet 1901.</p>

{% endblock %}