<html>
	<head>
		<title>
			LOCKED 눈_눈
		</title>
    <link rel="stylesheet" href="{{url_for('static', filename='stylelogin.css')}}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="{{url_for('static', filename='kioskboard-1.3.3.min.css')}}" />
		<script src="{{url_for('static', filename='kioskboard-1.3.3.min.js')}}"></script>
	</head>
	<body>
		<div class="login">
			<h1>Digipad</h1>
      <p>Brute-force limit: 2r/m; burst=6</p>
			<form action="" method="post">
				<label for="code">
					<i class="fas fa-lock"></i>
				</label>
				<input name="code" id="code" class="virtual-keyboard" data-kioskboard-type="numpad" maxlength="4" placeholder="일삼삼칠"/>
				<input type="submit" value="Login">
			</form>
		</div>

		<script>
			// Initialize KioskBoard (default/all options)

			KioskBoard.Init({
							keysArrayOfObjects: [{"0":"A","1":"B","2":"C"}, {"0":"D","1":"E","2":"F"}],
							keysJsonUrl: null,
							specialCharactersObject: null,

							language: 'kr',
							theme: 'dark',

							capsLockActive: true,
							allowRealKeyboard: false,
							cssAnimations: true,
							cssAnimationsDuration: 360,

							// CSS animations style for opening or closing the keyboard => "slide" || "fade"
							cssAnimationsStyle: 'slide',

							// Allow or deny Spacebar on the keyboard. The keyboard is denied when "false"
							keysAllowSpacebar: false,

							// Text of the space key (spacebar). Without text => " "
							keysSpacebarText: 'Space',

							// Font family of the keys
							keysFontFamily: 'sans-serif',

							// Font size of the keys
							keysFontSize: '22px',

							// Font weight of the keys
							keysFontWeight: 'normal',

							// Size of the icon keys
							keysIconSize: '25px',

							// v1.1.0 and the next versions
							// Allow or prevent mobile keyboard usage. Prevented when "false"
							allowMobileKeyboard: false,

							// v1.3.0 and the next versions
							// Scrolls the document to the top of the input/textarea element. The default value is "true" as before. Prevented when "false"
							autoScroll: true,
						});


						// Run KioskBoard
						// Select any input or textarea element(s) to run KioskBoard
						KioskBoard.Run('.virtual-keyboard');
		</script>
	</body>
</html>
